{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCCG-YFC.com</title>
    <link rel="stylesheet" href="{% static "./style.css"%}">
</head>
<body>
     <section class="container">
        
        <header>
            <!-- <img src="./images/images.png" alt=""> -->
            <h3>Registration Form</h3>
        </header>
         
        <form  method="POST" class="form">
            {% csrf_token %}
            <div class="input-box">
                <label for="">Full Name</label>
                <input type="text" placeholder="Enter full name" name="name" id="name" required>
            </div>



            <div class="column">
                <div class="input-box">
                    <label for="">Phone Number</label>
                    <input type="number" id="phone" placeholder="Phone number" name="phone" required>
                </div>

                <div class="input-box">
                    <label for="">Birth Date</label>
                    <input type="date" id="birth" name="birth" placeholder="Enter birth date" required>
                </div>
            </div>

            
            <div class="input-box">
                <label for="member">Are You A Member Of RCCG</label>
                <input type="text" name="member_rccg" id="member_rccg" placeholder="Yes/No" required>
            </div>
                    
                    
                    
                

            <div class="input-box">
                <label for="member">Are You A Member Of YFC</label>
                <input type="text" placeholder="Yes/No" required>
            </div>

                <div class="input-box">
                    <label for="">WhatsApp Number</label>
                    <input type="number" name="whatsapp_no" id="whatsapp_no" placeholder="WhatsApp phone number">
                </div>
            

            
                <div class="input-box">
                    <label for="">How did you hear about the program(if through a friend provide a name)</label>
                    <input type="text" name="referee" id="referee" value="" placeholder="">
                </div>

                
                
                    
                    <div class="input-box">
                        <label for="attended">Have You Attended YFC Before</label>
                        <input type="text" name="attended_prev" id="attended_prev" placeholder="Yes/No" required>
                    </div>

                    <div class="input-box">
                        <label for="">Do You have any suggestions to make YFC better</label>
                        <textarea name="suggestions"  id="suggestions" cols="30" rows="10"></textarea>
                    </div>
                
                    
                    <button type="submit" id="submitButton">Submit</button>
            
        </form>
     </section>
     
</body>
</html>